body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

header {
    background-color: #24292e;
    color: white;
    text-align: center;
    padding: 50px;
}

section {
    background-color: white;
    max-width: 700px;
    margin: 25px auto;
    padding: 25px;
    border-radius: 10px;
}

h2 {
    color: #24292e;
}
